In [1]:
import json
import math
import pandas as pd

In [2]:
# loading data into a Pandas DataFrame
# NB: this is one of MANY ways Pandas provides
filepaths = ['../data/dns.json']
df = pd.concat([pd.read_json(file, lines=True) for file in filepaths], ignore_index=True)    
df.head()

,AA,RA,RD,TC,TTLs,Z,answers,id_orig_h,id_orig_p,id_resp_h,...,qtype_name,query,rcode,rcode_name,rejected,rtt,sensor_tag,trans_id,ts,uid
0,False,True,True,False,[0.0],0,[<unknown type=10>],192.168.7.241,62600,8.8.8.8,...,NULL,pafqbkky.i.calculus.ski,0.0,NOERROR,False,0.039535,bro_sensor,15219,1.518211e+09,CGpyJo3EMn3Ax7O7ma
1,False,True,True,False,[0.0],0,[<unknown type=10>],192.168.7.241,62600,8.8.8.8,...,NULL,pafqbkla.i.calculus.ski,0.0,NOERROR,False,0.032091,bro_sensor,22946,1.518211e+09,CGpyJo3EMn3Ax7O7ma
2,False,True,True,False,[0.0],0,[<unknown type=10>],192.168.7.241,62600,8.8.8.8,...,NULL,pafqbkli.i.calculus.ski,0.0,NOERROR,False,0.033981,bro_sensor,30673,1.518211e+09,CGpyJo3EMn3Ax7O7ma
3,False,True,True,False,[0.0],0,[<unknown type=10>],192.168.7.241,62600,8.8.8.8,...,NULL,pafqbklq.i.calculus.ski,0.0,NOERROR,False,0.031716,bro_sensor,38400,1.518211e+09,CGpyJo3EMn3Ax7O7ma
4,False,True,True,False,[0.0],0,[<unknown type=10>],192.168.7.241,62600,8.8.8.8,...,NULL,1mgb682Ê2db¾îyÖgkÍËÞÞ0yz7hbkÞwbÊsyfüy7÷ûùìÖluz...,0.0,NOERROR,False,0.032840,bro_sensor,26953,1.518211e+09,CGpyJo3EMn3Ax7O7ma

In [3]:
# discovering column names 
df.columns.values

array(['AA', 'RA', 'RD', 'TC', 'TTLs', 'Z', 'answers', 'id_orig_h',
       'id_orig_p', 'id_resp_h', 'id_resp_p', 'proto', 'qclass',
       'qclass_name', 'qtype', 'qtype_name', 'query', 'rcode',
       'rcode_name', 'rejected', 'rtt', 'sensor_tag', 'trans_id', 'ts',
       'uid'], dtype=object)

In [4]:
# calculating a new column from an existing column
df['new_col'] = df['rtt']*2
df['new_col2'] = df['new_col'].apply(lambda x: math.ceil(x) if not pd.isna(x) else x)
#renaming columns
df = df.rename(columns={'new_col':'dbl_ttl', 'new_col2':'ceil_dbl_ttl'})
# selecting a subset of columns
df[['dbl_ttl', 'ceil_dbl_ttl']].head()

    dbl_ttl  ceil_dbl_ttl
0  0.079070           1.0
1  0.064182           1.0
2  0.067962           1.0
3  0.063432           1.0
4  0.065680           1.0

In [5]:
# grouping and sorting in a Pandas DataFrame
grouped = df.groupby('id_orig_h').sum().reset_index()
sorted = grouped.sort_values('ceil_dbl_ttl', ascending=False)
sorted[['id_orig_h', 'rtt']].head()

                   id_orig_h         rtt
18             192.168.7.241  135.859093
49  fe80::ced:ee27:566f:7625   65.335209
20              192.168.7.25   58.983778
40   fe80::68:bd91:4734:4180   57.344869
16             192.168.7.230   50.792543

In [6]:
# Helpful Pandas snippets: https://gist.github.com/bsweger/e5817488d161f37dcbd2
# Jupyter shortcuts: http://maxmelnick.com/2016/04/19/python-beginner-tips-and-tricks.html